*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-purple-color: #8854c0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    transition: all 300ms ease-in-out;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color: var(--dark-color);
    background-color: var(--grey-color);

}
.wrapper{
    background-color: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 37.5rem;
    height: 42.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}
.quiz-title{
    text-align: center;
    font-size: 2rem;
}
.score{
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    border: 5px solid var(--grey-color);
    font-weight: bold;
    width: 8rem;
    height: 3.125rem;
    margin: .5rem auto;
    color: var(--light-purple-color);
}
.quiz-question{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
    margin-top: 4rem;
}
#options{
    list-style-type: none;
    margin: 1rem 0;
}
#options li{
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--light-purple-color);
    background-color: var(--light-purple-color);
    color: var(--light-color);
    box-shadow: 0 4px 0 0 #6c4298;
    transition: var(--transition);
}
#options li:hover{
    background-color: var(--grey-color);
    color: var(--dark-color);
    border-color: var(--grey-color);
    box-shadow: 0 4px 0 0 #bbb;
}
#options li:active{
    transform: scale(0.97);
}

/* styling for the selected option */
.selected-option{
    background-color: var(--grey-color)!important;
    color: var(--dark-color)!important;
    border-color: var(--grey-color)!important;
    box-shadow: 0 4px 0 0 #bbb !important;
}
.quiz-foot button{
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    color: var(--dark-color);
    letter-spacing: 1.3px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 #bbb;
}
.quiz-foot button:hover{
    background-color: #e6e6e6;
    box-shadow: 0 4px 0 0 #a7a7a7;
}
.quiz-foot button:active{
    transform: scale(0.95);
}
#play-again{
    display: none;
}
#next-button{
    display: none;
}

/* results styling */
#result{
    text-align: center;
    margin: 1.5rem 0;
}



@media screen and (max-width: 600px) {
    .quiz-title{
        font-size: 1.6rem;
    }
    .wrapper{
        margin: 3rem 0;
        width: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
    }
    .quiz-foot button{
        font-size: 1rem;

    }
}